<ion-fab vertical="top" horizontal="end" slot="fixed" edge="true" [hidden]="!active">
  <ion-fab-button color="light" (click)="close($event)">
    <ion-icon md="caret-down" ios="chevron-down-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-slides [options]="{ width: slideWidth }">
  <ion-slide *ngFor="let card of cards">
    <app-card [card]="card"
      (click)="highlight(card)" [highlighted]="active && highlighted.includes(card.id)"
      [number]="blackType !== cardTypes.PICK_1 && highlighted.indexOf(card.id) + 1"
    ></app-card>
  </ion-slide>
</ion-slides>
<ion-button (click)="select()" id="select-button" [hidden]="!active || !highlightedEnough" slot="fixed" position="bottom">
  {{ i18n.get('putDownTheCards') }}
</ion-button>