:host {
  display: block;
  height: 100%;
  width: 100%;

  .border {
    border: 1px solid;
    border-radius: 8px;
    border-radius: 1rem;
    height: 100%;
    padding: 4px;
  }

  .highlighted {
    animation: moveGradient 2s alternate infinite;
    background: linear-gradient(
      60deg,
      var(--ion-color-primary),
      white
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border: none;
    padding: 5px;
  }

  .card-container {
    border-radius: 1rem;
    height: 100%;
    padding: 2rem;
    position: relative;

    .footer {
      bottom: 2rem;
      font-size: 0.8rem;
      position: absolute;
    }
  }

  .card-question {
    background-color: black;
    border-color: white;
    color: white;

    .card-container {
      background-color: black;
    }
  }

  .card-answer {
    background-color: white;
    border-color: #222;
    color: #222;

    .card-container {
      background-color: white;
    }
  }

  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
}
