app-card {
  height: 90%;
  left: 5%;
  position: absolute;
  top: 33%;
  transition: top 0.7s;
  width: 90%;
}

.hand {
  height: 90%;
  position: absolute;
  top: 66%;
  transition: top 0.7s;
  width: 100%;
}

app-players-list {
  display: block;
  max-height: 33%;
  overflow-y: scroll;
  scrollbar-width: none;
}

ion-spinner {
  height: 10%;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 10%
}

.top {
  top: 5%;
}