<ion-header>
  <ion-toolbar>
    <ion-title>{{ i18n.get('question') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="false" [scrollY]="false">
  <ion-spinner *ngIf="loading"></ion-spinner>
  <app-players-list
    [players]="players"
    [tsarId]="tsarId"
    *ngIf="players">
  </app-players-list>
  <app-card
    [card]="questionCard"
    tappable
    (click)="questionCardOnTop = !questionCardOnTop"
    [class.top]="questionCardOnTop"
    *ngIf="questionCard">
  </app-card>
  <div
    #hand
    class="hand"
    [style.top]="handOnTop ? '5%' : '66%'"
  >
    <app-card-select
    [cards]="answerCards"
    [active]="handOnTop"
    [blackType]="questionCard?.type"
    tappable
    (onclose)="handOnTop = false"
    (selected)="hideCards()"
    *ngIf="yourId !== tsarId &&  answerCards">
  </app-card-select>
  </div>
</ion-content>
