<ion-header>
  <ion-toolbar>
    <ion-title>{{ i18n.get('question') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="false" [scrollY]="false">
  <app-players-list
    [players]="players"
    [tsarId]="tsarId"
    *ngIf="players">
  </app-players-list>
  <app-card
    [card]="questionCard"
    tappable
    (click)="questionCardOnTop = !questionCardOnTop"
    [ngClass]="{ 'top': questionCardOnTop }"
    *ngIf="questionCard">
  </app-card>
  <app-card-select
    [cards]="answerCards"
    [active]="handOnTop"
    tappable
    (click)="handOnTop = !handOnTop"
    (selected)="questionCardOnTop = false"
    [ngClass]="{ 'top': handOnTop }"
    *ngIf="answerCards">
  </app-card-select>
</ion-content>
